body{
    background-color: #fcffd8;
}

.control > button{

    background-color: #00d9ff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    flex-basis: 100%;
}

.center{
    text-align: center;
}

.control{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.box{
    display: grid;
    place-items: center;
    margin: auto;
    background-color: transparent;
    border: none;
}

.box-center {
    grid-area: 1 / -1 / 1 / -1;
    font-size: 50px;
}